*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    transition: 0.5s ease-out;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-2.5vw);
    overflow: hidden;
}
main{
    font-size: 4.5vw;
    p{
        transform: translateX(10vw);
    }
    p:first-child,p:last-child{
        transform: none;
    }
}
#settingsPanel{
    position: absolute;
    width: 25vw;
    height: 100vh;
    transform: translate(-35vw,-101vh);
    outline: 1px #2aacb8 solid;
    box-shadow: 0px 0px 10px #6aab73;
    color: #bcbec4;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        width: 20vw;
        height: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10vh;
        >div{
            display: flex;
            align-items: center;
            gap: 2vh;
        }
    }
    input {
        outline: none;
        border: none;
        background-color: #bcbec4;
    }
}
#Background{
    background-color: #1e1f22;
}
.ReservedWord{
    color: #cf8e6d;
}
.Text{
    color: #bcbec4;
}
.Integer{
    color: #2aacb8;
}
.String{
    color: #6aab73;
}